.row
  .col-md-1
  .col-md-10
    .slogan
      =link_to t(:catalogue).titleize, artists_path
    .search
      = text_field_tag :search, params[:search], placeholder: "#{t(:search_text)}", size: 50, class: 'search-field'
  .col-md-1

%script{:type=>"text/javascript"}

  $.widget( "custom.catcomplete", $.ui.autocomplete, {
  _create: function() {
  this._super();
  this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
  },
  _renderMenu: function( ul, items ) {
  var that = this,
  currentCategory = "";
  $.each( items, function( index, item ) {
  var li;
  if ( item.category != currentCategory ) {
  ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
  currentCategory = item.category;
  }
  li = that._renderItemData( ul, item );
  if ( item.category ) {
  li.attr( "aria-label", item.category + " : " + item.label );
  }
  if ( item.model ) {
  li.attr( "model", item.model );
  }
  });
  }
  });

  $(function() {

  locale = "#{I18n.locale}";

  $( ".search-field" ).catcomplete({
  source: '/search_suggestions' + "?locale=" + locale,
  minLength: 3,
  open: function(event, ui) {
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {

  $('.ui-autocomplete').off('menufocus hover mouseover mouseenter');
  }
  },
  select:function(event, ui){
  if ( ui.item.model == 'Artist' ) {
  window.location = '/artists/' + ui.item.model_id + "?locale=" + locale;
  }
  else if ( ui.item.model == 'Album' ) {
  window.location = '/artists/' + ui.item.parent_model_id + '/albums/' + ui.item.model_id + "?locale=" + locale;
  }
  else if ( ui.item.model == 'Song' ) {
  window.location = '/artists/' + ui.item.gparent_model_id + '/albums/' + ui.item.parent_model_id + '/songs/' + ui.item.model_id + "?locale=" + locale
  }
  },
  appendTo: ".search-form",
  });

  });
