= render partial: 'artists_header'

.row
  .col-md-1
  .col-md-10
    %h3 
      = t(:edit_artist)
    = render partial: 'artists_form', locals: { artist: @artist } 
    = link_to t(:cancel), @artist, class: "btn btn-danger"

