= render partial: 'artists_header'

.row
  .col-md-1
  .col-md-10
    .pull-right
      - if policy(Artist.new).create?
        =link_to t(:new_artist), new_artist_path, class: 'btn btn-success'
    
.row
  .col-md-1
  .col-md-10
    .artists-container
      - @artists.each do |artist|
        .artist_thumb
          - if artist.image?
            = image_tag( artist.image.thumb )
          - else
            = image_tag( 'default_artist_thumb.jpg' )          
          = link_to artist.name, artist
  .col-md-1



