 <% if @comment.destroyed? %>
   $('#comment-' +<%= @comment.id %>).fadeOut(600);
 <% else %>
   $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
 <% end %>