<!DOCTYPE html>
.row
  .album_bio
    %br
      - unless @playlist.description.nil? || @playlist.description.empty?
        = simple_format(@playlist.description)
.row
  %h3
    Private
    = @playlist.private