<!DOCTYPE html>
.row
  .album_image
    - if @playlist.image?
      = image_tag( @playlist.image )
  .album_bio
    %br
      - unless @playlist.description.nil? || @playlist.description.empty?
        = simple_format(@playlist.description)
.row
  %h3
    Private
    = @playlist.private