- if @current_program_ajax
  - if @current_program_ajax.banner?
    = image_tag( @current_program_ajax.banner )
  - else
    %div{:class => "default-sponsor default-sponsor-#{@radio.id}"}
      %em
        = t(:sponsor_available)