.radiosponsor-text
  %span.bold
    = @active_program.name
  %span
    llega gracias a:
.radiosponsor-image
  - if @active_program
    - if @active_program.banner? && @active_program.banner_link?
      %a{href:@active_program.banner_link, class:"program_banner_link", target: "_blank"}
        = image_tag( @active_program.banner, :class => "program_banner_image"  )
    - elsif @active_program.banner?
      = image_tag( @active_program.banner )
    - else
      = image_tag( 'pc_ad.png', :class => "program_banner_image" )
