%script
  $("#opaque-cover").remove();

%h4
  ¡Muchas gracias por inscribirte!

%p
  En breve nos pondremos en contacto contigo; en caso no recibas un correo en menos de 24 horas, por favor escríbenos a 
  %span.bold
    contacto@radioperu.pe

%p
  = link_to t(:back_to_home), root_url, :class => 'btn btn-primary'