#opaque-cover
  #login-block
    = t :login_message
    - if devise_mapping.omniauthable?
      - resource_class.omniauth_providers.each do |provider|
        %a{href: "#{omniauth_authorize_path(resource_name, provider)}", class: 'btn btn-social btn-facebook'}
          %i.fa.fa-facebook
          = t(:sign_in_facebook)
