%script
  $("#opaque-cover").remove();

- title 'convocatoria'
- set_meta_tags :og => {:title => 'Radioperú.pe - Convocatoria de DJs', :description => '¿Te gusta nuestra misión y conoces o formas parte de la escena musical local?', :url => 'http://radioperu.pe/convocatoria', :image => image_url('estacionesfblink.png') }
- set_meta_tags description: "¿Te gusta nuestra misión y conoces o formas parte de la escena musical local?"

.row.margin-top-15
  .col-md-1
  .col-md-10
    %h2
      Convocatoria: Espacios de Radio en Línea
    %p
      Por la presente, Radioperú.pe convoca abiertamente a los interesados en conducir o liderar la conducción de espacios de radio en línea, en cualquiera de las cinco estaciones que actualmente difunden música hecha en el Perú, las 24 horas:
    %p
      .stations_promo
        = image_tag('estaciones_texto.jpg')
    %h3
      Requisitos
    %p
      %ul
        %li
          Conocimiento de la escena musical local, en cualquiera de sus géneros o épocas.
        %li
          Capacidad para producir individualmente las locuciones que conforman el programa.
        %li
          Compromiso por un periodo de tiempo y una recurrencia semanal, quincenal o mensual.
        %li
          Muchas ganas de difundir la música de nuestro país.
    %h3
      Beneficios
    %p
      %ul
        %li
          Espacios visuales o auditivos, en portal web y aplicaciones móviles, durante la duración de el/los programas, para ubicar patrocinadores que la persona pueda conseguir para su espacio, así como el 100% de los beneficios que dicho patrocinador otorgue. 
        %li
          Exposición del programa en nuestras redes sociales.
    %p
      Los interesados, por favor enviar un correo con su propuesta de programa y horarios a 
      %span.bold 
        %a{href:'mailto:contacto@radioperu.pe'}contacto@radioperu.pe
    %p
      Tendrán prioridad las propuestas geográficamente diversas y cuyo contenido sea más cercano a nuestra
      %span
        %a{href:'/elproyecto', target: '_blank'}misión cultural



