- if I18n.locale == :es
  .row.margin-top-15
    .col-md-4.mission
      %h3
        Misión
      %p.margin-bottom-10
        Construimos un medio para el diálogo intercultural entre los peruanos a través de su música, promoviendo un espíritu de comunidad y creatividad en el país.
      %h3
        Objetivos
      %p
        %ul
          %li
            Difundir y dar acceso a nivel nacional y mundial a las diversas producciones musicales peruanas.
          %li
            Salvaguardar las producciones musicales peruanas de todos los tiempos.
          %li
            Contribuir al reconocimiento de todos los actores de la industria musical peruana.
    .col-md-8.voices
      %h3
        Palabras de lanzamiento
      %em
        %p
          "Hace poco más de 2 años surgió la idea de radioperu.pe, un portal web independiente de difusión de música peruana. Al poco tiempo emprendí el proyecto con mi amigo Ricardo Gálvez, motivados, por un lado, por la calidad y diversidad de música peruana, poco reconocida aún en nuestro país para lo que merece, así como su potencial para construir puentes de diálogo en un país tan fragmentado como el nuestro. Por otro lado, nos motivó el poder de la música peruana para reforzar nuestra identidad y conectar nuestras diferentes formas de sentir al país.
        %p
          Tras varios obstáculos, y nada menos que en nuestro mes patrio, abrimos el portal radioperu.pe en un formato más sencillo pero más moderno y no menos ambicioso que en sus inicios. El proyecto es ciudadano, independiente y controlado al 100% por quienes trabajamos en él, por lo que de seguro se adaptará muy rápido a las necesidades reales de los oyentes y músicos peruanos, con quienes esperamos trabajar muy de cerca.
        %p
          Esto recién empieza y se irá poniendo más interesante, pero ya existe muchísimo trabajo detrás, por lo que quiero agradecer a todas las personas que en estos años pusieron mucho de su tiempo, cabeza y corazón en el proyecto, especialmente a mi esposa, Mariu Orjeda, y a quienes en diversos momentos pasaron de alguna forma por el equipo central del proyecto: Ricardo Gálvez, Fernando Urquiaga, Alexis Pérez, Santiago Pillado, Renzo Reyes y Gonzalo Barra.  Agradezco también a los tantos músicos que nos contaron sus ideas y necesidades cuando el proyecto recién arrancaba.
        %p
          Gracias desde ya por la difusión hacia futuros oyentes y músicos interesados en unirse. 
          ¡Vamos Perú!"
      %p.small
        Gianpietro Lavado Chiarella
        %br
        Fundador
        %br
        31 de Julio del 2015, Lima - Perú.

- elsif I18n.locale == :en
  .row.margin-top-15
    .col-md-4.mission
      %h3
        Mission
      %p.margin-bottom-10
        We build a means for intercultural dialogue between Peruvians through their music, promoting a spirit of community and creativity in the country.
      %h3
        Objetives
      %p
        %ul
          %li
            Disseminate and give access at national and global level to the various Peruvian musical productions.
          %li
            Safeguard Peruvian musical productions of all times.
          %li
            Contribute to the recognition of all actors of the Peruvian musical industry.
    .col-md-8.voices
      %h3
        Inauguration words
      %em
        %p
          "It has been more than two years since the idea of radioperu.pe, an independent web portal for disseminating Peruvian music, was born. Shortly after, I started the project with my friend Ricardo Galvez, motivated by the quality and diversity of Peruvian music, not so recognized in our own country compared to what it deserves, and its potential to build dialogue bridges in such a fragmented country like ours. Furthermore, we were also motivated by the power of Peruvian music to reinforce our identity and connect the different ways in which each citizen feels the country.
        %p
          After several difficulties, and during our country's Independence Month, we open the radioperu.pe portal, in a simpler but more modern and ambicious format than in its beginnings. The project is civic, independent and 100% controlled by its team, so we think it will quickly adapt to the real needs of Peruvian listeners and musicians, with whom we hope to work closely.
        %p
          This is just starting and will soon become more interesting, but there have been tons of work behind already, so I would like to thank the people who put much of their time, mind and heart into this project, especially my wife, Mariu Orjeda, and of course the ones that belonged to the core team of the project at different stages: Ricardo Gálvez, Fernando Urquiaga, Alexis Pérez, Santiago Pillado, Renzo Reyes and Gonzalo Barra.  I would also like to thank all the musicians who met with us to give their feedback when this project was just starting.
        %p
          Thanks in advance for spreading the word to future listeners and musician interested in participate.
          ¡Vamos Perú!"
      %p.small
        Gianpietro Lavado Chiarella
        %br
        Founder
        %br
        July 31, 2015, Lima - Perú.

