@import 'bootstrap-sprockets';
@import 'bootstrap';

// General styles

.margin-bottom-01 { margin-bottom: 0.1em; }

.margin-left-00 { margin-left: 0em; }

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }
.margin-top-40 { margin-top: 4.0em; }
.margin-top-50 { margin-top: 5.0em; }

.container-fluid {
  background-color: #3c3c33;
  padding: 8px 25px;
}

.container-fluid>form>.field,.container-fluid>h2 {
  color: #f6f3e4;
  padding: 5px 25px;
}

.container-top {
}

.language a, .language, .user-info {
  color: white;
}

.landing {
  background-color: white;
  padding: 5px 24px 40px 24px;
  margin: 8px 0px 15px 0px;
  min-height: 685px;
  border-radius: 10px;
}

.blackbtn {
  color: #3c3c33;
  background: #fff;
  height: 25px;
  padding-top: 2px;
}

.blackbtn:hover,.blackbtn:focus {
  color: #3c3c33;
  background-color: orange;
}

.logo {
  margin-top: 0px;
  font-size: 4.4em;
  margin-bottom: 20px;
}

.logo a {
  color: #3c3c33;
}

.logo a:hover {
  color: #428bca;
  text-decoration: none;
}

.slogan {
  font-size: 2.0em;
  float: left;
  color: #3c3c33;
}

.slogan a {
  color: #3c3c33;
}

.slogan a:hover {
  color: #428bca;
  text-decoration: none;
}

.search {
  font-size: 1.0em;
  float: right;
  padding-top: 6px;
}

// Welcome view

.radios {
  width: 83%;
  margin: 0 auto;
}

.station1,.station2,.station3,.station4,.station5 {
  display: block;
  width: 180px;
  height: 340px;
  float: left;
  margin: 2px;
  text-align: center;
}

.stationlink {
  width: 70%;
  height: 25%;
  background-color: rgba(255,255,255,0.6);
  margin: auto;
  color: #3c3c33;
  margin-top: 220px;
  padding: 10px;
  border-radius: 10px;
}

.station1:hover,.station2:hover,.station3:hover,.station4:hover,.station5:hover {
  box-shadow: 0 5px 3px -3px #777;
  opacity: 0.9;
  text-decoration: none  
}

.station1 {
    background: image-url('station1b.jpg') no-repeat;
    background-size: 180px 340px;
}

.station2 {
    background: image-url('station2b.jpg') no-repeat;
    background-size: 180px 340px;
}

.station3 {
    background: image-url('station3b.jpg') no-repeat;
    background-size: 180px 340px;
}  

.station4 {
    background: image-url('station4b.jpg') no-repeat;
    background-size: 180px 340px;
}  

.station5 {
    background: image-url('station5b.jpg') no-repeat;
    background-size: 180px 340px;
}

.radiotitle {
  font-size: 1.3em;
  font-weight: bold;
}

.radiodescription {
  font-size: 1.0em;
}

.catalogue {
  display: block;
  width: 400px;
  height: 100px;
  background-color: #f6f3e4;
  border-radius: 10px;
  border: 1px solid #ececec;
  color: #3c3c33;
  text-transform: lowercase;
  line-height: 85px;
  background: image-url('catalogue.png') no-repeat left;
  background-size: 75px 75px;
  background-position: 10px;
  text-align: left;
  padding-left: 160px;
  float: left;
}

.catalogue:hover {
  opacity: 0.9;
  box-shadow: 0 10px 6px -6px #777;
}

.catalogue h3 {
    vertical-align: middle;
    display: inline-block;
}

.musician {
  background: image-url('musician.png') no-repeat left;
}

.listener {
  background: image-url('listener.png') no-repeat left;
}

.listener, .musician {
  display: block;
  background-size: 75px 75px;
  background-position: 10px;
  float: left;
  padding-left: 100px;
  color: #3c3c33;
  height: 100px;
  width: 200px;
  line-height: 85px;
  border-radius: 10px;
  border: 1px solid #ececec;
}

.listener:hover, .musician:hover {
  opacity: 0.9;
  box-shadow: 0 10px 6px -6px #777;
}

.listener h5, .musician h5 {
    vertical-align: middle;
    display: inline-block;
}

// Radios

.radionav li {
    float: left;
}

.radionav a {
    display: block;
    width: 200px;
    border: 1px solid #ececec;
    text-align: center;
    background-color: #3c3c33;
    color:#f6f3e4;
    font-size: 1.2em;
}

.radionav a:hover,  {
  text-decoration: none;
  color: #3c3c33;
  background-color: #f6f3e4;
}

.highlighted {
  background-color: #8B0000 ! important;
  color: #f6f3e4;
}

.radionav {
    list-style-type: none;
    width: 79%;
    margin: 0 auto;
    padding: 5px 40px;

}

.radio_container {
  margin-top: 10px;
  min-height: 500px;
  padding: 20px;  
  border-radius: 10px;
}

.station_title h2 {
  color: #3c3c33;
  padding: 0;
  margin: 0;
}

.station_player {
  margin-top: 10px;
}

// Artist

.artist_thumb {
  padding: 10px;
  background-color: #f6f3e4;
  border-radius: 10px;
  width: 200px;
  margin: 10px;
}

.artist_div {
  padding: 15px;
  height: 390px;
  border-radius: 5px;
}

.artist_divleft {
  float:left;
  width: 34%;
}

.artist_divright {
  float:right;
  width: 61%;
}

.artist_bio {
}

.artist_bio h4 {
  margin-top: 0;
} 
.artist_bio p {
  font-size: 1.0em;
  font-weight: normal;
  overflow: auto;
  height: 324px;
} 

.artist_albums {
  padding: 10px;
  border-radius: 5px;
  height: 300px;
  overflow-y: auto;
}

.artist_album_thumb {
  padding: 0 0 10px 18px;
  float: left;
}

.artist_album_info {
  padding: 10px;
  float: left;
}

.artist_songs {
  padding: 10px 0 10px 25px;
  border-radius: 5px;
  height: 300px;
  overflow-y: auto;
}

.artist_songs_each {
  margin-bottom: 5px;
}


