/* Check in Rails Assests Pipeline, how to include "require tree" */

/*
 *= require jquery-ui
 *= require social-share-button
 */

@import 'normalize';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-google{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google:focus,.btn-google.focus{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:hover{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}.btn-google:active:hover,.btn-google.active:hover,.open>.dropdown-toggle.btn-google:hover,.btn-google:active:focus,.btn-google.active:focus,.open>.dropdown-toggle.btn-google:focus,.btn-google:active.focus,.btn-google.active.focus,.open>.dropdown-toggle.btn-google.focus{color:#fff;background-color:#a32b1c;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{background-image:none}
.btn-google.disabled,.btn-google[disabled],fieldset[disabled] .btn-google,.btn-google.disabled:hover,.btn-google[disabled]:hover,fieldset[disabled] .btn-google:hover,.btn-google.disabled:focus,.btn-google[disabled]:focus,fieldset[disabled] .btn-google:focus,.btn-google.disabled.focus,.btn-google[disabled].focus,fieldset[disabled] .btn-google.focus,.btn-google.disabled:active,.btn-google[disabled]:active,fieldset[disabled] .btn-google:active,.btn-google.disabled.active,.btn-google[disabled].active,fieldset[disabled] .btn-google.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-google .badge{color:#dd4b39;background-color:#fff}

/* General styles */

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
  font-family: 'Myriad Pro Regular', Helvetica;
  font-size: 16px;
}

.clear_both {
  clear: both;
}

.clear_right {
  clear: right;
}

.resetfont {
  text-decoration: none !important;
  color: #3c3c33;
}

.float {
  float: left;
}

.half-width {
  width: 50%;
}

.form_group {
  margin-bottom: 0.5em;
}

.margin-bottom-00 { margin-bottom: 0.0em; }
.margin-bottom-01 { margin-bottom: 0.1em; }
.margin-bottom-10 { margin-bottom: 1.0em; }

.margin-left-00 { margin-left: 0em; }
.margin-left-01 { margin-left: 0.1em; }
.margin-left-15 { margin-left: 1.5em; }

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }
.margin-top-40 { margin-top: 4.0em; }
.margin-top-50 { margin-top: 5.0em; }

.padding-20 {padding: 2.0em;}

.line-height-00 { line-height: 0 }

.bold { font-weight: bold }

.container-fluid {
  background-color: #3c3c33;
  padding: 8px 25px;
}

.font-11em {
  font-size: 1.1em;
}

.float-left {
  float: left
}

.float-right {
  float: right
}

.container-fluid>form>.field,.container-fluid>h2 {
  color: #f6f3e4;
  padding: 5px 25px;
}

.container-top {
}

.language a, .language, .user-info {
  color: white;
}

.orange a, .orange {
  color: orange !important;
}

.red {
  color: red;
}

.landing {
  background-color: white;
  padding: 1px 24px 40px 24px;
  margin: 8px 0px 15px 0px;
  min-height: 765px;
  min-height: 95vh;
  height: auto;
}

.blackbtn {
  color: #3c3c33;
  background: #fff;
  height: 25px;
  padding-top: 2px;
}

.whitebtn {
  background: #3c3c33;
  color: #fff;
  height: 25px;
  padding-top: 2px;
}

.whitebtn a {
  color: #fff;
}

.whitebtn a:hover {
  text-decoration: none;
}

.blackbtn:hover,.blackbtn:focus {
  color: #3c3c33;
  background-color: orange;
}

.whitebtn:hover,.whitebtn:focus {
  background-color: #3c3c33;
}

.logo {
  margin-top: -40px;
  font-size: 4.4em;
  margin-bottom: 10px;
  font-family: 'Myriad Pro Semibold';
}

.logo a {
  color: #3c3c33;
}

.logo a:hover {
  color: #428bca;
  text-decoration: none;
}

.logo img {
}

.logotext {
  font-size: 0em;
  color: white;
}

.slogan {
  float: left;
  color: #3c3c33;
  font-size: 1.6em;
  line-height: 1em;
}

.slogan-animation {
  font-size: 1.6em;
  color: #3c3c33;
  opacity: 0;
  letter-spacing: 3px;
  font-family: 'Myriad Pro Semibold'
}

.slogan a {
}

.slogan a:hover {

}

.social .facebook {
  margin-left: 5px;
}

.apps {
  margin-top: -5px;
}

.apps .android img {
  height: 50px; 
}

.apps .iphone img {
  height: 33px; 
}

.search {
  font-size: 1.0em;
  padding-top: 6px;
  text-align: center;
  margin-bottom: 10px;
}

.search input {
  border-radius: 2px;
  border: 1px solid #606060;
}


.search_landing {
  font-size: 0.9em;
  padding-top: 6px;
  text-align: center;
  float: none;
}

.search-field {
  cursor: pointer
}

textarea.form-control {
  height: 200px;
}

.microdata {
  font-size: 0.8em;
  color: white;
}

.mainnav li {
  display: inline-block;
  text-transform: lowercase;
}

.mainnav a {
    display: block;
    width: 300px;
    border: 1px solid #ececec;
    text-align: center;
    font-size: 1.1em;
    padding:4px;
    color: #3c3333;
}

.mainnav a:hover,  {
  text-decoration: none;
  border: 1px solid #3c3333 !important;
  font-weight: bold;
}

.main_highlighted {
  font-weight: bold;
  background-color: #3c3333;
}

.main_highlighted a {
  color: #fff;
}

.mainnav {
    list-style-type: none;
    width: auto;
    text-align: center;
    margin-left: -50px;
}

.mobile {
  display: none;
}

/* Login Popup */

#opaque-cover {
 display: none;
 width: 100%;
 height: 100%;
 z-index: 900;
 background-color: rgba(0,0,0,0.75);
 margin-left:-25px;
 margin-top:-8px;
 padding-bottom: 2px;
 position: fixed;
}

#login-block {
  margin: 0 auto;
  margin-top: 210px;
  border-radius: 10px;
  width: 700px;
  z-index: 1000;
  background-color: white;
  padding: 0;
  border: 5px solid #202020;
}

.go-login-button {
  margin-top: 5px;
}

.go-login-button .btn-social {
  min-width: 182.05px;
}

.popup-social, .popup-email {
  width: 50%;
  height: 230px;
  float: left;
  padding: 10px;
  display: block;
}

.popup-social {
  border-right: 1px solid #b0b0b0;
}

.msg {
  position:relative;
  z-index: 1100 !important; /* alerts on top of opaque background */
}

.social_disclaimer {
  font-size: 0.8em;
  font-style: italic;
  margin: 20px auto;
  width: 80%;
  font-weight: normal;
}

.login_input {
  width: 100%;
}

.login_msg {
  font-size: 1.2em;
  font-weight: normal;
  margin:0;
  background-color: #202020;
  color: white;
}

.login_type_msg {
  font-size: 0.9em;
  width: 80%;
  margin: 4px auto 4px auto;
}

#switch_to_social, #switch_to_email {
  display: none;
}

/* Browser-specific */

@-moz-document url-prefix() {
  .logo {
  }


}

/* Devise */

.devise {
  min-height: 600px;
  height: auto;
}


/* Social */

/* Share pages for Catalogue */
.sharepage h5 {
  margin-bottom:0;
  font-family: 'Myriad Pro Semibold';
  font-size: 0.8em;
}

.social-share-button-twitter {
  width: 32px;
  height: 32px;
  background: asset-url('share_twitter.png') no-repeat;
}

.social-share-button-facebook {
  width: 32px;
  height: 32px;
  background: asset-url('share_facebook.png') no-repeat;
}

/* Share listening for Radios */
#share_song .social-share-button-twitter {
  width: 16px;
  height: 16px;
  background: asset-url('share_twitter_16.png') no-repeat;
}

#share_song .social-share-button-facebook {
  display: none;
}

#share_facebook {
  display: block;
  width: 16px;
  height: 16px;
  background: asset-url('share_facebook_16.png') no-repeat; 
}

/* About view */

.mission p, .mission li {
  font-size: 1.2em
}

.mission {
  border-right: 1px solid #e0e0e0;
  min-height: 380px;
}

.mission h3, .voices h3 {
  margin-top: 0px;
}

.voices p {
  font-size: 0.9em;
}


/* Welcome view */

.home img {
  margin-left: 6px;
  float: left;
}

.home img:hover {
  box-shadow: 0 5px 3px -3px #777;
}

.social-timelines-outer {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: 'Myriad Pro Semibold';
}

.social-timelines-inner {
  float: left;
  width: 31%;
  margin: 0 1%;
}

.social-timelines-inner-fb {
  /*border: 1px solid #e8e8e8;*/
}

.social-timelines-inner-tw {
  /*border: 1px solid #e8e8e8;*/
}

.social-timelines-inner-in {
  /*border: 1px solid #e8e8e8;*/
}

.social-timelines-inner-in img {
  width: 100%;
  box-shadow: 3px 3px 3px #777;
}

#instagram {
  margin:0 auto;
  padding:0;
  overflow:auto;
  height: 499px;
}

#instagram li {
  list-style:none;
  margin: 5px auto;
}

.about_link {
  background-color: #3c3c33;
  font-size: 0.8em;
  border-radius: 10px;
  color: white;
  width: auto;
  padding: 3px 7px;
  margin-left: 10px;
  float:left;
  margin-top: 10px;
}

.about_link a {
  color: white;
}

.about_link a:hover {
  color: orange;
  text-decoration: none
}


.social img:hover {
  box-shadow: 0 5px 3px -3px #777;
}

.station1,.station2,.station3,.station4,.station5 {
  display: block;
  width: 100%;
  height: 50px;
  float: left;
  margin: 1px;
  text-align: center;
  box-shadow: 0 2px 1px -1px #777;
}

.stationlink {
  height: 50px;
  margin: auto;
  color: #f6f3e4;
  margin-top: 9px;
}

.station1:hover,.station2:hover,.station3:hover,.station4:hover,.station5:hover {
  box-shadow: 0 5px 3px -3px #777;
  opacity: 0.9;
  text-decoration: none  
}

.station1 {
    background: asset-url('station1b.jpg') no-repeat;
    border-radius: 10px 10px 0 0;
}

.station2 {
    background: asset-url('station2b.jpg') no-repeat;
}

.station3 {
    background: asset-url('station3b.jpg') no-repeat;
}  

.station4 {
    background: asset-url('station4b.jpg') no-repeat;
}  

.station5 {
    background: asset-url('station5b.jpg') no-repeat;
    border-radius: 0 0 10px 10px;
}

.station1,.station2,.station3,.station4,.station5 {
  background-size: 100% 300px;
  background-position-y: -111px;
}

.radiotitle {
  font-size: 1em;
  font-weight: bold;
}

.radiodescription {
  font-size: 0.9em;
  line-height: 1em;
}

.welcome_div {
  border-top: 1px solid #e0e0e0;
}

.btn {
  text-transform: lowercase;
}

.option_title {
  text-transform: lowercase;
  letter-spacing: 2px;
  font-family: 'Myriad Pro Semibold'
}

.catalogue-container, .radios-container, .playlist-container, .promo_link {
  height: 260px;
  box-shadow: 0 5px 5px -3px #777;
  border-radius: 10px;
}

.catalogue-container, .playlist-container, .promo_link {
  padding-top: 15%;
  background-size: cover !important;
}

.playlist-container {
  background: asset-url('playlist.jpg') no-repeat 100%;
}

.catalogue-container {
  background: asset-url('catalogue.jpg') no-repeat 100%;
}

.catalogue_link, .playlists_link {
  display: block;
  height: 100px;
  margin: auto;
  padding: 10px;
  padding-top: 10%;
  color: #333;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 10px;
  text-align: center;
  width: 70%;
  font-weight: bolder;
  font-size:1em;
}

.catalogue_link:hover, .playlists_link:hover {
  text-decoration: none;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.7);
  color: #3c3c33;
}

.promo {

}

.promo_link {
  display: block;
  background: asset-url('melcochita-noloescuchen.jpg') no-repeat 100%;
  background-size: 100% 100% !important;
}

.catalogue-container, .catalogue-container-title {
  /* display: none; */
}

/* Radios */

.radionav li {
    display: inline-block;
}

.radionav a {
    display: block;
    min-width: 170px;
    border: 1px solid #ececec;
    text-align: center;
    font-size: 1.3em;
    padding-top:4px;
    color: #3c3333;
    margin-right: -2px;
}

.radiomenu1, .radiomenu1 a {
    background-color: #ECB85B;
}

.radiomenu2, .radiomenu2 a {
    background-color: #C05B69;
}

.radiomenu3, .radiomenu3 a {
    background-color: #81BB7E;
}

.radiomenu4, .radiomenu4 a {
    background-color: #F7764D;
}

.radiomenu5, .radiomenu5 a {
    background-color: #93D3D7;
}

.radionav a:hover,  {
  text-decoration: none;
  border: 1px solid #3c3333 !important;
  font-weight: bold;
}

.highlighted {
  font-weight: bold;
  color: #f6f3e4 !important;
  border: 1px solid #3c3333 !important;
}

.radionav {
    list-style-type: none;
    width: auto;
    margin: 0 auto;
    text-align: center;
    margin-left: -6%;
}

.radiotitles {
}

.radio_container {
  min-height: 425px;
  padding: 20px;  
  height: 200px;    
  border-radius: 10px;
  border: 1px solid #ececec;
  color: #3c3c33;  
}

h1.station_title {
  color: #3c3c33;
  padding: 0;
  margin: 0;
  font-size: 1.5em
}

.station_player {
  margin-top: 10px;
  padding: 4px;
  padding-left: 10px;
  min-height: 80px;    
  border-radius: 10px;
  border: 1px solid #ececec;
  color: #3c3c33;
}

#player {
  float:left;
  margin-top: 15px;
}

#songtitle {
  float:left;
  width: 300px;
}

#artist {
  font-size: 1.1em;
  margin-top: 6px;
  line-height: 1.2;
}

#song {
  font-size: 1em;
  line-height: 1.2em
}

.artist-info {
  height: 150px;    
  border-radius: 10px;
  border: 1px solid #ececec;
  color: #3c3c33;
  padding: 5px;
  margin: 10px 0px 0px 5px;
  float: left;
  width: 70.5%;
}

#artist-image {
  float:left;
  margin: 10px;
}

#artist-bio {
  height: 120px;
  overflow: auto;
  margin-top: 10px;
}

.listeners {
  height: 261px;    
  border-radius: 10px;
  border: 1px solid #ececec;
  color: #3c3c33;
  padding: 6px;
  margin-top: 10px;
  width: 28.5%;
  float:left;
  margin-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  font-size: 0.8em;
}

.album-info {
  height: 100px;    
  border-radius: 10px;
  border: 1px solid #ececec;
  color: #3c3c33;
  padding: 8px;
  margin: 10px 0px 0px 5px;
  width: 70.5%;
  float:left;
  font-size: 0.9em;
  line-height: 1.3;
}

#album-cover {
  float:left;
  margin: 5px;
}

#album-name {
  overflow: auto;
}


.album-summary {
  /*width: 66%; */
  margin-top: 5px;
} 


.station_schedule, .station_sponsor {
  height: 425px;  
  border-radius: 10px;
  border: 1px solid #ececec;
  color: #3c3c33;
  margin-left: -15px;
  padding:0;
  text-align: center;
  font-size: 0.9em;
}

.station_schedule h5 {
  font-weight: bold;
}
  

#station_schedule {
  overflow-y: auto;
  height: 375px;
}

.admin_program {
  background-color: #c0c0c0;
  color: #f6f3e4;
}

.active_program {
  background-color: #e0e0e0;
  color: white;
  font-weight: bold;
}

.program_banner_link {
  display: block;
}

.program_banner_image {
  width: 100%;
}

.tdhover:hover {
  background-color: black !important;
  color: white !important;
}

.programtable {
  display: block;
  float: left;
  text-align: left;
  padding: 0;
  color: #3c3c33;  
}

.programtable:hover {
  text-decoration: none;
  color:white;
}

.programtable a {
  color: #3c3c33;  
}

.default-sponsor {
  height: 200px;
  font-size: 1em;
  padding: 10px;
  padding-top: 40%;
  text-align: center;
  border-radius: 10%;
}

.active_program_1 {
  background-color: #ECB85B;
}

.active_program_2 {
  background-color: #C05B69;
}

.active_program_3 {
  background-color: #81BB7E;
}

.active_program_4 {
  background-color: #F7764D;
}

.active_program_5 {
  background-color: #93D3D7;
}

.default-sponsor-1 {
  color: #ECB85B;
}

.default-sponsor-2 {
  color: #C05B69;
}

.default-sponsor-3 {
  color: #81BB7E;
}

.default-sponsor-4 {
  color: #F7764D;
}

.default-sponsor-5 {
  color: #93D3D7;
}

/* Live Concerts */

.artist-info-live {
  width: 100% !important;
  margin-left: 0px !important;
  height: 200px !important;
}

.radio_container_live {
  height: 641px;
}

#concert_summary img {
  width: 600px;
  margin-top: 30px;
}

/* Artist */

hr {
}

.artist_catalogue_title h4 {
  margin: 0 5px;
}

.artist_catalogue_title .whitebtn {
  border-radius: 0px;
  box-shadow: 2px 2px #3c3c33;
}

#btn1 {
  background-color: #ECB85B;
}

#btn2 {
  background-color: #C05B69;
}

#btn3 {
  background-color: #81BB7E;
}

#btn4 {
  background-color: #F7764D;
}

#btn5 {
  background-color: #93D3D7;
}


span.catalogue_title a {
}

.artists_container {
  margin-top: 5px;
  padding: 0 10px;
}

#artist_container1 {
  border-top: 7px solid #ECB85B;
}

#artist_container2 {
  border-top: 7px solid #C05B69;
}

#artist_container3 {
  border-top: 7px solid #81BB7E;
}

#artist_container4 {
  border-top: 7px solid #F7764D;
}

#artist_container5 {
  border-top: 7px solid #93D3D7;
}

.artist_thumb {
  display: block;
  padding: 15px 10px;
  padding-bottom: 5px;
  width: 160px;
  height: 124px;
  float: left;
  border: 1px solid #3c3333;
  color: #3c3333;
  margin-right: 10px;
  word-wrap: break-word;
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.1;
}

.artist_thumb:hover {
  text-decoration: none;
  font-family: 'Myriad Pro Semibold';
  box-shadow: 0 5px 3px -3px #777;
  color: #3c3333;
}

.artist_albums {
  padding: 10px;
  border-radius: 5px;
}

.artist_album {
  display: block;
  background-color: #fff;
  color: #3c3c33;
  border-bottom: 1px solid #3c3c33;
  height: 86px;
  width: 100%;
}

.artist_album:hover {
  background-color: #eee;
}

.artist_album_thumb {
  padding: 5px 0 5px 18px;
  float: left;
}

.artist_album_info {
  padding: 10px;
  padding-left: 95px;
  height: auto;
}

.artist_songs {
  padding: 10px 0 10px 25px;
  border-radius: 5px;
  height: 300px;
  overflow-y: auto;
}

.artist_songs_each {
  margin-bottom: 5px;
}

.album_image, .artist_image {
  float:left;
  width: 320px;
  margin-bottom: 20px
}

.album_songs {
  /* width: 80%;*/
}

.album_bio, .artist_bio, .playlist_description {
  font-size: 1.0em;
  font-weight: normal;
  overflow: auto;
  max-height: 200px;
} 
.playlist_description {
  max-height: 175px;
}

.album_mininfo, .artist_mininfo {
  margin-top: 10px;
}

.album_mininfo a, .artist_mininfo a {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.album_nav {
  height: 30px;
}


/* Comments */

.new_comment textarea.form-control {
  height: 100px;
}

.comments {
  border-radius: 10px;
  word-wrap: break-word;
}

.comments .media-body {
  background-color: #fafafa;
  padding: 5px;
}

.replies {
  border-left: 3px solid #f0f0f0;
}

.replies a {
  font-size: 0.8em;
}

.reply-field {
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}

.reply-text {
  margin-right: 5px;
  width: 80%;
}

.reply-text .form-control {
  height: 31px;
}

.js-comments {
  max-height: 500px;
  overflow: auto;
  list-style: none;
}

.comment_block {
  margin-top: 20px;
}

.reply-field {
  display: none;
}


/* Playlists */


.table-striped {
  width: 100%;
}

.playlist_image {
  float:left;
  width: 220px;
  margin-bottom: 20px
}

.playlist_name {
  font-family: 'Myriad Pro Semibold';
}

.playlist_scroll {
  height: 200px;
  overflow-y: auto;
}

.playlist_artist .artist-info {
  width: 100%;
  border-radius: 0;
  border-bottom: 0;
  height: 130px;
  margin-top: 0;
  padding: 0 3px;
  border: 0;
}

.playlist_artist .artist-info #artist-bio {
  height: 122px;
  margin-top: 8px;
  font-size: 0.9em;
}

.playlist_album .album-info {
  width: 100%;
  border-radius: 0;
  border-top: 0;
  margin-top: 0;
  height: 94px;
  border: 0;
}

.playlist_artist_div {
  -webkit-box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.52);
  -moz-box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.52);
  box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.52);
  height: 220px;
  padding-right: 10px;
}

.playlist_title {
  background: #99CCFF;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Myriad Pro Semibold'
}

.user_playlists {
  margin-bottom: 30px;
  max-height: 500px;
  overflow: auto;
}

.playlist_all {
  display: block;
  background-color: #fff;
  color: #3c3c33;
  min-height: 86px;
  height:auto;
  width: 100%;
  word-wrap: break-word;
}

.playlist_all:hover {
  background-color: #eee;
  text-decoration: none;
}

.playlist_all_songs {
  font-size: 0.9em;
  min-height: 54px;
  padding-top: 2px;
}

.playlist_thumb {
  padding: 8px 5px 2px 2px;
  float: left;
}

.playlist_songs_thumb {
  padding-top: 0px !important;
}

.playlist_summary {
  padding-top: 3px;
}

.playlist_all_songs .playlist_summary {
  padding-top: 8px;
}

/* Edit forms */

.current_file {
  font-size: 0.9em;
  font-weight: bold;
  font-style: italic;
  color: #428bca;
}

.id3 {
  font-size: 0.7em;
  padding: 0;
}

/* Search */

.ui-autocomplete {
  font-family: 'Myriad Pro Regular';
}

.ui-autocomplete-category {
  font-family: 'Myriad Pro Semibold';
  font-size: 0.8em;
  background-color: #e0e0e0;
}

.ui-menu-item {
  font-size: 0.8em;
}

/* Floating Ads */

.floating-ad {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 120px;
  width: 320px;
  padding: 5px;
  background-color: white;
  border: 2px solid black;
  border-bottom: none;
  display: none;
  z-index: 200;
}

.floating-ad-radio {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 90px;
  width: 100%;
  padding: 5px;
  background-color: #fff;
  border: 2px solid #333;
  border-bottom: none;
  display: none;
  z-index: 200;
}

/* SoundManager */

/*

 SoundManager 2: "page as playlist" example
 ------------------------------------------
 http://schillmania.com/projects/soundmanager2/

*/

.spectrum-container {
 display:none;
}

ul.use-spectrum li.sm2_playing .spectrum-container {
 position:absolute;
 left:0px;
 top:0px;
 margin-left:-266px;
 margin-top:-1px;
 display:block;
 background-color:#5588bb;
 border:1px solid #99ccff;
 border-radius:4px;
}

ul.use-spectrum .spectrum-box {
 position:relative;
 width:255px;
 font-size:1em;
 padding:2px 0px;
 height:1.2em;
 overflow:hidden;
}

ul.use-spectrum .spectrum-box .spectrum {
 position:absolute;
 left:0px;
 top:-2px;
 margin-top:20px;
 display:block;
 font-size:1px;
 width:1px;
 height:1px; /* set to 50px for a thick line, 1px for a thin line, etc. */
 overflow:hidden;
 background-color:#fff;
}

ul.playlist {
 list-style-type:none;
 margin:0px;
 padding:0px;
 /* font trickery */
 -moz-osx-font-smoothing: grayscale;
 -webkit-font-smoothing: antialiased;
}

ul.playlist li {
 /* assume all items will be sounds rather than wait for onload etc. in this example.. may differ for your uses. */
 position:relative;
 display:block;
 width:auto;
 font-size:1em;
 color:#3c3c33;
 padding:0.25em 0.5em 0.25em 0.5em;
 border:none;
 letter-spacing:-1px; /* ZOMG WEB X.0. ;) */
 background-color: transparent; /* f6f3e4 */
 border-bottom: 1px solid #3c3c33;
 -webkit-transition-property: hover;
 -webkit-transition: background-color 0.15s ease-in-out;
 -moz-transition: background-color 0.15s linear 0s; /* firefox 4 */
  -o-transition-property: background-color; /* opera 10.5 */
  -o-transition-duration: 0.15s;
}

ul.playlist.song-playlist li {
  border: 1px solid black;
}

ul.playlist li a {
 display:block;
 text-decoration:none;
 font-weight:normal;
 color:#3c3c33;
 outline:none;
 position:relative;
 z-index:2;
 min-height: 24px;
}

ul.playlist li.sm2_playing,
ul.playlist li.sm2_paused,
ul.playlist li.sm2_playing a {
 color:#fff;
 border-radius:3px;
}

ul.playlist li:hover {
 background-color:#eee;
}

ul.playlist li:hover a {
 color:#333;
}

ul.playlist li.sm2_playing,
ul.playlist li.sm2_playing:hover {
 background-color:#6699cc;
}

ul.playlist li.sm2_paused {
 background-color:#999;
}

ul.playlist li.sm2_playing:hover a,
ul.playlist li.sm2_paused a {
 color:#fff;
}

ul.playlist li .controls {
 display:none;
}

ul.playlist li .peak,
ul.playlist.use-peak li .peak {
 display:none;
 position:absolute;
 top:0.55em;
 right:0.5em;
}

ul.playlist li.sm2_playing .controls,
ul.playlist li.sm2_paused .controls {
 position:relative;
 display:block;
}

ul.playlist.use-peak li.sm2_playing .peak,
ul.playlist.use-peak li.sm2_paused .peak {
 display:inline;
 display:inline-block;
}

ul.playlist.use-peak li .peak {
 display:none; /* IE 7 */
}

ul.playlist li.sm2_paused .controls {
 background-color:#666;
}

ul.playlist li:hover .controls .statusbar {
 position:relative;
 cursor:-moz-grab;
 cursor:-webkit-grab;
 cursor:grab;
}

ul.playlist li.sm2_paused .controls .statusbar {
 background-color:#ccc;
}

ul.playlist li .controls {
 position:relative;
 margin-top:0.25em;
 margin-bottom:0.25em;
 background-color:#99ccff;
}

ul.playlist li .controls .statusbar {
 position:relative;
 height:0.5em;
 background-color:#ccddff;
 border:2px solid #fff;
 border-radius:2px;
 overflow:hidden;
 cursor:-moz-grab;
 cursor:-webkit-grab;
 cursor:grab;
}

ul.playlist li .controls.dragging .statusbar {
 cursor:-moz-grabbing;
 cursor:-webkit-grabbing;
 cursor:grabbing;
}

ul.playlist li .controls .statusbar .position,
ul.playlist li .controls .statusbar .loading,
ul.playlist li .controls .statusbar .annotation {
 position:absolute;
 left:0px;
 top:0px;
 height:0.5em;
}

ul.playlist li .controls .statusbar .position {
 background-color:#336699;
 border-right:3px solid #336699;
 border-radius:3px;
}

ul.playlist li.sm2_paused .controls .statusbar .position {
 background-color:#666;
 border-color:#666;
}

ul.playlist li .controls .statusbar .loading {
 background-color:#eee;
}

ul.playlist li .controls .statusbar .position,
ul.playlist li .controls .statusbar .loading {
 width:0px;
}

ul.playlist li.sm2_playing a.sm2_link,
ul.playlist li.sm2_paused a.sm2_link {
 margin-right:4.5em; /* room for timing stuff */
}

ul.playlist li .timing {
 position:absolute;
 display:none;
 text-align:right;
 right:8.2em;
 top:0.8em;
 width:auto;
 height:2em;
 padding:3px 5px;
 background-color:#5588bb;
 border:1px solid #99ccff;
 border-radius:4px;
 letter-spacing:0px;
 font:60% monaco,"VT-100","lucida console",courier,system;
 line-height:1em;
 vertical-align:middle;
}

ul.playlist.use-peak li .timing {
 right:4.25em;
}

ul.playlist li:hover .timing {
 z-index:2;
}

ul.playlist li .timing div.sm2_timing {
 margin:0px;
 padding:0px;
 margin-top:-1em;
}

ul.playlist li.sm2_playing .timing,
ul.playlist li.sm2_paused .timing {
 display:block;
}

ul.playlist li.sm2_paused .timing .sm2_position {
 text-decoration:blink; /* hee hee. first actual appropriate use? :D */
}

ul.playlist li.sm2_paused .timing,
ul.playlist.use-peak li.sm2_paused .peak {
 background-color:#888;
 border-color:#ccc;
}

/* peak data */

/* ul.playlist ... */

ul.playlist.use-peak li .peak {
 display:none;
 zoom:1;
 border:1px solid #99ccff;
 padding:2px;
 height:0.55em;
 border-radius:4px;
 background-color:#5588bb;
 width:0.8em;
 height:0.55em;
 margin-top:-3px;
}

ul.playlist.use-peak li .peak-box {
 position:relative;
 width:100%;
 height:0.55em;
 overflow:hidden;
}

ul.playlist li .peak .l,
ul.playlist li .peak .r {
 position:absolute;
 left:0px;
 top:0px;
 width:7px;
 height:50px;
 background:#fff;
 border:1px solid #fff;
 border-radius:1px;
 margin-top:1em;
}

ul.playlist li .peak .l {
 margin-right:1px;
}

ul.playlist li .peak .r {
 left:10px;
}

#control-template {
 display:none;
}

div.pointer a {
 float: right;
 background-color: transparent;
 height: 25px;
 padding: 3px;
 text-align: center;
 border-radius: 5px;
 border: 1px solid black;
 color: #333 !important;  
 z-index: 100 !important;
 display: block !important;
 text-transform: lowercase;
 margin-right: 2px;
 font-size: 0.9em
}

div.playlist_add a {
 float: right;
 margin: -1px -5px 0px 0px;
 width: 25px;
 height: 25px;
 padding: 2px 0 0 0;
 text-align: center;
 z-index: 100 !important;
 display: block !important;
 border: 1px solid #333;
}

div.pointer a:hover {
  color:white !important;
  background-color: #000;
}

div.playlist_add a:hover {
  color:white !important;
}

.clicked, .clicked:hover, .clicked:active, .clicked:focus {
}

.add_to_playlist {
  color: #333 !important;
}

/* Promo Convocatoria DJs */

.stations_promo {
 width: 100%;
 text-align: center;
}

.stations_promo img {
  width: 100%;
  max-width: 600px;
}


/* SoundManager FlashBlock */

/**
 * SoundManager 2 + useFlashBlock
 * ------------------------------
 * Flash positioning and flashblock / clicktoflash handling
 */

#sm2-container {
 /**
  * where the SM2 flash movie goes. by default, relative container.
  * set relative or absolute here, and don't touch it later or bad things will happen (see below comments.)
  */
 position: absolute;
 width: 1px;
 height: 1px;
 overflow: hidden;
 /* screw IE 6, just make it display nice */
 _overflow: hidden;
}

#sm2-container object,
#sm2-container embed {
 /**
  * the actual SWF movie bit.
  * important: The SWF needs to be able to be moved off-screen without display: or position: changes.
  * changing display: or position: or overflow: here or on parent can cause SWF reload or other weird issues after unblock
  * e.g., SM2 starts but strange errors, no whileplaying() etc.
  */
 width: 48px;
 height: 48px;
 /* some flash blockers may also respect this rule */
 max-width: 48px;
 max-height: 48px;
}

#sm2-container.swf_timedout {
 /* expand to show the timed-out SWF content */
 position: relative;
 width: 48px;
 height: 48px;
}

#sm2-container.swf_timedout,
#sm2-container.swf_timedout object,
#sm2-container.swf_timedout embed {
 /**
  * when SM2 didn't start normally, time-out case. flash blocked, missing SWF, no flash?
  * 48px square flash placeholder is typically used by blockers.
  */
 min-width: 48px;
 min-height: 48px;
}

#sm2-container.swf_unblocked {
 /* SWF unblocked, or was never blocked to begin with; try to collapse container as much as possible. */
 width: 1px;
 height: 1px;
}

#sm2-container.swf_loaded object,
#sm2-container.swf_loaded embed,
#sm2-container.swf_unblocked object,
#sm2-container.swf_unblocked embed {
 /* hide flash off-screen (relative to container) when it has loaded OK */
 left: -9999em;
 top: -9999em;
}

#sm2-container.swf_error {
 /* when there is a fatal error (flash loaded, but SM2 failed) */
 display: none;
}

#sm2-container.high_performance,
#sm2-container.high_performance.swf_timeout {
 /* "high performance" case: keep on-screen at all times */
 position: absolute;
 position: fixed;
}

#sm2-container.high_performance {
 overflow: hidden;
 _top: -9999px; /* IE 6 hax, no position:fixed */
 _left: -9999px;
 bottom: 0px;
 left: 0px;
 /**
  * special case: show at first with w/h, hide when unblocked.
  * might be bad/annoying.
  * try to stay within ClickToFlash "invisible" limits (so it won't be blocked.)
  */
 z-index: 99; /* try to stay on top */
}

#sm2-container.high_performance.swf_loaded,
#sm2-container.high_performance.swf_unblocked {
 z-index: auto;
}

#sm2-container.high_performance.swf_loaded,
#sm2-container.high_performance.swf_unblocked,
#sm2-container.high_performance.swf_unblocked object,
#sm2-container.high_performance.swf_unblocked embed {
 /**
  * 8x8px is required minimum to load in fx/win32 in some cases(?)
  * 6x6+ good for fast performance, even better when on-screen via position:fixed
  * also, clickToFlash (Safari <5.1) may auto-load "invisible" SWFs at this size
  */
 height: 8px;
 width: 8px;
}

#sm2-container.high_performance.swf_loaded {
 /* stay bottom/left */
 top: auto;
 bottom: 0px;
 left: 0px;
}

#sm2-container.high_performance.swf_loaded object,
#sm2-container.high_performance.swf_loaded embed,
#sm2-container.high_performance.swf_unblocked object,
#sm2-container.high_performance.swf_unblocked embed {
 /* high-performance case must stay on-screen */
 left: auto;
 top: auto;
}

#sm2-container.high_performance.swf_timedout {
 z-index: 99; /* try to stay on top */
}

/* Fonts */


@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), asset-url('MYRIADPRO-REGULAR.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Condensed';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Condensed'), asset-url('MYRIADPRO-COND.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Semibold Italic';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Semibold Italic'), asset-url('MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Semibold';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Semibold'), asset-url('MYRIADPRO-SEMIBOLD.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Condensed Italic'), asset-url('MYRIADPRO-CONDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold Italic'), asset-url('MYRIADPRO-BOLDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Bold Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold Condensed Italic'), asset-url('MYRIADPRO-BOLDCONDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold Condensed'), asset-url('MYRIADPRO-BOLDCOND.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold'), asset-url('fonts/MYRIADPRO-BOLD.woff') format('woff');
}

/* Responsiveness */

@media screen and (max-width: 1800px) {

/* Welcome Screen */

.catalogue-container, .playlist-container, .promo_link {
  padding-top: 15%;
}

}

@media screen and (max-width: 1350px) {

/* Radio Stations */

.radionav a {
  min-width: 137px
}

/* Artists Catalogue */

.song-video iframe {
  width: 426px;
  height: 286px;
}

}

@media screen and (max-width: 1292px) {

/* General */

#loading {
  display: none
}

.mainnav a {
  width: 250px;
  font-size: 1em;
}

/* Welcome page */

h4.option_title {
  font-size: 0.9em;
}

.musician {
  padding-left: 40%;
  background-size: 40px 40px;
  background-position: 7px;
}

.slogan-animation {
  margin-left: 2px;
}

.search {
  margin-right: 28px;
}

.search_landing {
  font-size: 0.8em;
}

/* Radio Stations */

.listeners {
  font-size: 0.8em
}


.album-info, .artist-info {
 width: 70%;
}
/*
.album-summary {
  width: 57%;
} 
*/

}

@media screen and (max-width: 1060px) {

/* Welcome page */

.slogan-animation {
  margin-left: 0px;
  float: none;
  text-align: center;
}

.search {
  margin-right: 0px;
  float: none;
  text-align: center;
}

.search_landing {
  font-size: 0.7em;
}

.catalogue-container, .playlist-container, .promo_link {
  padding-top: 30%;
}

/* Radio Stations */

.listeners {
  font-size: 0.7em
}

#share_facebook {
  display: none;
}

/*
.album-info {
  font-size: 0.8em
}

.album-summary {
  width: 50%;
} 
*/

/* Artist Catalogue */

.artist_divright {
/*  width: 40%; */
}

}

@media screen and (max-width: 991px) {

/* General */

.mainnav a {
  width: 220px;
  font-size: 0.8em;
}

/* About */

.mission {
  min-height: auto;
  height: auto;
  border: none;
  margin-bottom: 20px;
}

/* Welcome page */

.logo {
  margin-top: -20px;
}

.logo img {
  width: 300px;
}

.musician {
  width: 100%;
  background-size: 75px 75px;
  background-position: 10px;
  padding-left: 22%;
}

.musician h5 {
  font-size: 1.5em;
}

.slogan-animation {
  font-size: 1.4em;
  letter-spacing: 2px;
}

.slogan {
  float: none;
  text-align: center;
}

.catalogue-container, .radios-container, .playlist-container, .promo_link {
  width: 400px;
  text-align: center;
  margin: auto auto 20px auto;
  height: 100px;
}

.promo, .promo_link {
  height: 260px;
}

.catalogue-container, .playlist-container, .promo_link {
  padding-top: 15px;
  background-size: 400px;
}

.playlist-container {
  padding-top: 25px;
}

.catalogue_link, .playlists_link {
  padding-top: 4%;
  height: 47px;
  width: 100%;
  border-radius: 0;
}

.search_landing {
  margin-top: 1px;
}

.station1, .station2, .station3, .station4, .station5 {
  clear: none;
  width: 78px;
  height: 100px;
  padding-top: 25px;
  font-size: 0.9em;
  background-size: 78px;
  background-position-y: 0px;
}

.radiodescription {
  display: none;
}

.station1 {
  border-radius: 10px 0 0 10px;
}

.station5 {
  border-radius: 0 10px 10px 0;
}
/* Radio Stations */

/*
.album-info {
  font-size: 1em;
  width: 65%;
}
*/

.station_schedule {
  height: auto;
}

.station_schedule, .station_sponsor {
  margin-left: -1px;
}

.default-sponsor {
}

.radionav a {
  min-width: 122px
}

#songtitle {
  width: auto;
}

.floating-ad-radio {
  width: 100%;
}

/* Artists Catalogue */

hr {
  margin-top: 20px;
}

.artist_albums p, .artist_songs p {
  height: auto;
}

.album_songs, .artist_songs {
  width: 100%;
}

.artist_songs {
  padding-left: 0;
}

#main_block {
  margin-bottom: 10px;
}

.social_networks {
  margin-top: 20px;
}

/* Playlists */

.playlist_artist_div {
  height: 241px;
  margin-top: 13px;
}

.playlist_description, .playlist_info, .playlist_all {
  clear: both;
}

}

@media screen and (max-width: 768px) {

/* Login Popup */

#opaque-cover {
  /*margin-left: 0;*/
}

#login-block {
  margin-top: 200px;
  width: 80%;
  height: auto;
  border-radius: none;
  padding-bottom: 2px;
}

.popup-social, .popup-email {
  width: 100%;
  height: auto;
  clear: both;
  border: none;
  padding:0;
  padding-left: 4px;
  padding-right: 4px;
}

.popup-social {
}

.popup-email {
  display:none;
}

.popuplinks a {
  font-size: 0.9em
}

.login_msg {
  font-size: 0.95em;
  margin-bottom: 0;
  padding: 1px;
}

.login_type_msg {
  font-size: 0.75em;
  width: 100%;
}

.social_disclaimer {
  margin: 8px auto;
  font-size: 0.7em;
}

#switch_to_social, #switch_to_email {
  display: block;
}

/* General */

.mainnav a {
  width: 100px;
  letter-spacing: 2px;
  font-size: 0.7em;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

/* Welcome page */

@-moz-document url-prefix() {
    .logo {
        margin-left: 0px;
    }
}

.landing {
  /* min-height: 960px; */
}

.logo img {
  width: 250px;
}

.home img {
  width: 30px;
  height: 30px;
}

.about_link {
  margin-top: 5px;
  font-size: 0.6em
}

.social .facebook img {
  width: 30px;
  height: 30px; 
}

.social .twitter img {
  width: 27px;
  height: 27px; 
}

.social .instagram img {
  width: 27px;
  height: 27px; 
}

.social .email img {
  width: 34px;
  height: 34px; 
}

.apps .android img {
  height: 40px; 
}

.apps .iphone img {
  height: 27px; 
}

.logo {
  margin-top: 8px;
  font-size: 4em
}

.catalogue {
  width: 96.5%;
}

.radiotitle {
  font-size: 1em;
}

.radiodescription {
  font-size: 0.8em;
}

.social-timelines-inner {
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

/* Radio Stations */

.station_player {
  font-size: 0.9em;
  padding-left: 5px;
}


.album-info, .artist-info {
  overflow: auto
}


.radionav a {
  min-width: 85px;
  font-size: 0.9em;
  margin-right:-3px;
}

.radionav {
  margin-left:-9%;
}

#songtitle {
  width: 240px;
}

/* Artist catalogue */

.slogan {
  font-size: 1.5em
}

.song-video iframe {
  width: 320px;
  height: 215px;
}

h3.catalogue_title {
  font-size: 1.2em;
}

.album_image, .artist_image {
  width: 100%;
}

.album_bio, .artist_bio {
  height: auto;
  max-height: 200px;
}

.floating-ad {
  height: 110px;
}

.default-sponsor {
  height: 70px;
}

#station_sponsor {
  font-size: 0.9em;
}

.sponsor-image {
  width: 65%;
  float: right;
}

.sponsor-text {
  float: left;
}

.sponsor-image img {
  width: 150px;
}

.radiosponsor-image {
}

.radiosponsor-text {
}

.radiosponsor-image img {
}

.whitebtn {
  height: 18px;
  padding: 0 2px;
}

}

@media screen and (max-width: 524px) {

/* Login Popup */

#opaque-cover {
  margin-left:-10px;
}

#login-block {
  margin-top: 175px;
}

.login_msg {
  font-size: 0.85em;
}

/* Social */
.sharepage h5 {
  font-size: 0.6em;
}

/* Welcome page */

.container_menus {
  padding: 0;
}

.container-top {
  width: 104%;
}

.blackbtn {
  margin-right: 0 !important;
}

.language a, .language, .user-info {
  font-size: 0.8em;
}

.user-info .btn {
  font-size: 0.8em;
  padding: 4px;
}

.logo img {
  width: 200px;
}

.container-fluid {
  padding: 8px 10px;
}

.home img {
  width: 25px;
  height: 25px;
}

.social .facebook img {
  width: 25px;
  height: 25px; 

}

.social .twitter img {
  width: 23px;
  height: 23px; 
  margin-left: -2px;
}

.social .instagram img {
  width: 23px;
  height: 23px; 
  margin-left: -2px;
}

.social .email img {
  width: 29px;
  height: 29px; 
}

.apps {
  margin-top: -2px;
}

.apps .android img {
  height: 25px; 
}

.apps .iphone img {
  height: 17px; 
  margin-left: -4px;
  clear: both;
}

.language {
  margin-left: 17px;
}

.login_btn {
  margin-right: 17px;
}

.search input {
  width: 282px;
  font-size: 0.9em;
}

.search {
  float:none;
  text-align: center;
}

.catalogue-container, .radios-container, .playlist-container, .promo_link {
  width: 300px;
  margin: 0 auto;
}

.catalogue-container, .playlist-container, .promo_link {
  background-size: 300px;
}

.catalogue_link, .playlists_link {
  font-size: 0.8em;
}

.search_landing {
}

.station1, .station2, .station3, .station4, .station5 {
  width: 58px;
}

.slogan-animation {
  font-size: 1.1em;
  letter-spacing: 1px;
}

.logo {
  font-size: 3.2em
}

.search input {
  width: 250px;
  text-align: center;
}

/* Live Concerts */

#concert_summary img {
  width: 300px;
  margin-top: 30px;
}


/* Radio Stations */

.radio_container {
  padding: 10px;
}

.station_player {
  font-size: 0.7em
}

.listeners {
  font-size: 0.7em;
  overflow: auto
}

.album-info, .artist-info {
  font-size: 0.8em;
  width: 69%;
}

.radionav a {
  min-width: 56px;
  font-size: 0.7em;
  margin-right:-3px;
}

.radionav {
  margin-left:-18%;
}

h1.station_title {
  font-size: 0.9em;
}

/*#artist-bio {
  font-size: 0.8em;
}*/

#artist-image img {
  width: 100%;
}

#artist-image {
  width: 35%;
}

#songtitle {
  vertical-align: middle;
  width: 120px;
}

/* Artist catalogue */

.artist_thumb {
  width: 129px;
  font-size: 11px;
}

.album_image img, .artist_imageinfo img {
  width: 80%;
}

.artist_catalogue_title h4 {
  font-size: 12px;
}

.ui-menu .ui-menu-item {
  font-size: 0.6em;
}

/* Floating Ads */

.floating-ad {
  height: 90px;
  width: 100%;
}

.sponsor-image {
  width: 60%;
  float: right;
}

.radiosponsor-image {
}

}


@media screen and (max-width: 360px) {

/* Login Popup */

#opaque-cover {
  margin-left:-1px;
}

/* General */

.mainnav a {
  width: 80px;
  font-size: 0.6em
}

/* Welcome page */

.catalogue-container, .radios-container, .playlist-container, .promo_link {
  width: 270px;
}

.station1, .station2, .station3, .station4, .station5 {
  width: 52px;
  font-size: 0.8em;
}

.container-fluid {
  padding: 8px 2px;
}

.language {
  margin-left: 17px;
}

.blackbtn {}

.logo {
  font-size: 2.5em
}

.social {
  margin-right: 10px;
}

.album-summary {
  width: 200px;
}

.artist_album_info {
  font-size: 0.9em;
  line-height: 1.2em;
}

/* Radio Stations */

.radionav {
  margin-left:-20%;
}

.radio_container {
  padding: 10px 3px;
}

.landing {
  padding: 1px 10px 40px 24px;
}

.radio_container {
  margin-left: -15px;
  margin-right: -4px;
}

#artist {
  font-size: 1.1em;
  line-height: 1.2em
}

#song {
  font-size: 0.9em;
  line-height: 1em
}

#songtitle {
  vertical-align: middle;
  width: 120px;
  word-wrap: break-word;
}

.album-info, .artist-info {
  width: 68%;
}

}

@media screen and (max-width: 300px) {

/* Radio Stations */ 

#artist {
  font-size: 0.9em;
  line-height: 1.1em
}

#song {
  font-size: 0.7em;
  line-height: 01em
}

#songtitle {
  width: 55px;
  word-wrap: break-word;
}

.radionav a {
  min-width: 40px;
  font-size: 0.5em;
  margin-right:-5px;
}

.album-info, .artist-info {
  width: 67%;
}

}