.radionav li {
    float: left;
}

.radionav a {
    display: block;
    width: 200px;
    border: 1px solid #ececec;
    text-align: center;
    background-color: #3c3c33;
    color:#f6f3e4;
    font-size: 1.2em;
}

.radionav a:hover {
  text-decoration: none;
  color: #3c3c33;
  background-color: #f6f3e4;
}

.radionav {
    list-style-type: none;
    width: 79%;
    margin: 0 auto;
    padding: 5px 40px;
}

.station_title {
  width: 100%;
  margin: 0 auto;
  background-color: #f6f3e4;
  color: #3c3c33;
  border: 1px solid #ececec;
}
