<p>Hola <%= @resource.email %>!</p>

<p>Alguien solicitó un enlace para cambiar tu contraseña. Puedes hacerlo en el enlace a continuación.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste esto, por favor ignora este correo.</p>
<p>Tu contraseña no cambiará hasta que ingreses abajo y crees una nueva.</p>

<p> ---- ENGLISH ---- </p>

<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
